<head>
  <% if GAME.whose_turn == @other_player %>
    <meta http-equiv="refresh" content="5" >
  <% end %>
</head>

<table class="grid">
  <tr>
  <tr><th colspan=11><%= @player.name %>'s board</th></tr>
    <th></th>
    <% letter = "A" %>
    <% 10.times do %>
      <th><%= letter %></th>
      <% letter = letter.next %>
    <% end %>
  </tr>
  <% number = "1" %>
  <% @rows.each do |row| %>
  <tr>
    <th><%= number %></th>
      <% row.each do |coord| %>
        <% if coord.content.is_a?(Ship) and coord.shot_at? %>
          <td bgcolor="red"></td>
        <% elsif coord.content.is_a?(Ship) %> 
          <td bgcolor="grey"></td>
        <% elsif coord.content.is_a?(Water) and coord.shot_at? %> 
          <td bgcolor="yellow"></td>
        <% else %> 
          <td bgcolor="blue"></td>
        <% end %>
      <% end %>
    <% number = number.next %>
  </tr>
  <% end %>
</table>

<table class="grid">
  <tr>
  <tr><th colspan=11><%= @other_player.name %>'s board</th></tr>
    <th></th>
    <% letter = "A" %>
    <% 10.times do %>
      <th><%= letter %></th>
      <% letter = letter.next %>
    <% end %>
  </tr>
  <% number = "1" %>
  <% @other_rows.each do |row| %>
  <tr>
    <th><%= number %></th>
      <% row.each do |coord| %>
        <% if coord.content.is_a?(Ship) and coord.shot_at? %>
          <td bgcolor="red"></td>
        <% elsif coord.content.is_a?(Ship) %>
          <td bgcolor="blue"></td>
        <% elsif coord.content.is_a?(Water) and coord.shot_at? %>
          <td bgcolor="yellow"></td>
        <% else %>
          <td bgcolor="blue"></td>
        <% end %>
      <% end %>
    <% number = number.next %>
  </tr>
  <% end %>
</table>

<% if GAME.whose_turn == @player %>
  <div class="target_selection">
  <h3>Select your firing co-ordinate</h2>
    <form action='/game' method='post'>
      <label for="column">Column</label>
        <select id="column" name="column">
          <option value="A">A</option>
          <option value="B">B</option>
          <option value="C">C</option>
          <option value="D">D</option>
          <option value="E">E</option>
          <option value="F">F</option>
          <option value="G">G</option>
          <option value="H">H</option>
          <option value="I">I</option>
          <option value="J">J</option>
        </select>
      <label for="row">Row</label>
        <select id="row" name="row">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
        </select>
      <input type='submit' value="Fire!">
    </form>
    <% if flash[:notice] %>
      <p><%= flash[:notice] %></p>
    <% end %>
  </div>
<% end %>

<% if GAME.whose_turn == @other_player %>
  <h3 class="hit_report">
  <% if session[:hit?] == true %>
    You have hit a ship!</br></br>
  <% elsif session[:hit?] == false %>
    You missed</br></br>
  <% end %> 
  Waiting for other player to fire</h3>
<% end %>

